/** information for style 1 **/

body {
		/*background: #CCCCCC url(../images/tech_bg_1.png) repeat-x;*/
		background: #CCCCCC url(../images/background.png) repeat-x;
		color: #21252C; /* dark blue */
}

a:link,
a:visited {
	color: #000099; /* red */
}

div.moduletable h3,
.componentheading,
#moofx a.toggle {
	color: #3B4853; /* dark blue */
}

div#side div,
div#side p,
div#side td,
div.bottom div,
div.bottom p,
div.bottom td {
	color: #DDE3E8; /* light blue */
}

div#side a:link,
div#side a:visited,
div.bottom a:link,
div.bottom a:visited,
div#footer a:link,
div#footer a:visited {
	color: #000099; /* orange */
}

a.pathway:link,
a.pathway:visited {
	color: #666666; /* orange */
}

div#topsearch {
	position:absolute;
	top:13px;
	right:20px;
        width:150px;
}
.inputbox {
        border: 1px solid #000000;
        padding: 3px 3px 3px 5px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #ff6600;
}

.chbackground {
	background: url(../images/contentheading.jpg) top left no-repeat;
}
.contentheading {
	color: #000099; /* blue color */
}

a.mainlevel:link,
a.mainlevel:visited {
	color: #000099; /* blue */
	background: url(../images/menu_fade.png) top left  no-repeat;
}

div#side a.mainlevel#active_menu:link,
div#side a.mainlevel#active_menu:visited,
div#side a.mainlevel#active_menu:hover {
	color: #ff9900;
	font-weight: bold;
}

div#side a.mainlevel:hover {
	color: #0066FF;
}

div#footer {
	color: #6B84A0;
}

table.contenttoc {
  border: 1px solid #DCE2E7;
}

td.sectiontableheader {
  background: #EDF0F3;
  color: #333;
}

div#shadow_l {
	/*background: transparent url(../images/tech_shadow_l_1.png) no-repeat;*/
	background: transparent url(../images/shadow_l.png) no-repeat;
}

div#shadow_r {
	/*background: transparent url(../images/tech_shadow_r_1.png) 100% 0 no-repeat;*/
	background: transparent url(../images/shadow_r.png) 100% 0 no-repeat;
}

div#side {
	background: #CCCCCC url(../images/side_bg.png) repeat-x;
}

div#side_l {
	background: url(../images/tech_side_divider.png) no-repeat;
}

div#side_r {
	background: url(../images/tech_side_divider.png) 100% 0 no-repeat;
}

div#header {
	background: url(../images/hostica_hosting_bg.jpg) top right no-repeat;
}

div#logo {
	background: url(../images/hostica_logo.png) 50% 0 no-repeat;
}

div#content {
	background: #dce2e7; /* light grey body */
}

div.mainbody {
	border: 1px solid #C5CBCF; /* grey outline */
	background: #fff;
}

div.pagedivider {
	background: url(../images/page_divider.png) 50% 0 no-repeat;
}

div#bottomsection {
	background: #DCE2E7; /* light blue */
}

div.bottom {
	background: #5F6A7E url(../images/bottom_bg.png) repeat-x;
}

#moofx a.toggle {
	border: 1px solid #C5CBCF;
	background: #ECEFF2 url(../images/plus.png) 0 50% no-repeat;
}

#moofx div.stretcher {
	background: #dce2e7; /* light blue */
}

#nav {
	background: #dce2e7 url(../images/bar_bg.png) repeat-x;
}

#nav li {
	border-right: 1px solid #45570E;
}

#nav li.on {
	border-right: 1px solid #444D5C;
}

#nav li.on li.on {
	border-right: 0;
}

#nav li ul {
	background: #ff6600;
}

#nav li.on ul {
	background: #000099;
}

#nav li a {
	color: #000000;
	background: url(../images/menu.png) 0 0 no-repeat;
}

#nav li.on a {
	color: #fff;
}

#nav li.on li.on a {
	color: #fff;
}

#nav li:hover ul a,
#nav li.over ul a{
	border-right: 1px solid #99c100;
}

#nav li ul a, #nav li.on ul a {
	color: #000;
	border-right: 1px solid #8b9dbb;
}

#nav li.on ul a {
	color: #becce4;
}


#nav ul a:hover {
	color: #c8ef43;
}

#nav li.on li a:hover {
	color: #ffcc00;
}



.sublevel-leftmenu {
        vertical-align: middle;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-wieght: normal;
        line-height: 15px;
}

#hostica_mini_menu {
  position:absolute;
  top:10px;
  width:150px;
  margin:0;
  right:180px;
  voice-family: "\"}\"";
  voice-family: inherit;
}
html>body #hostica_mini_menu {
        right:520px;
}
.mainlevel-mini-menu {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:10px;
        color: #000099;
        text-decoration:none;
}
.mainlevel-mini-menu a, .mainlevel-mini-menu a:link, .mainlevel-mini-menu a:visited {
        color: #000099;
        text-decoration:none;
}
.mainlevel-mini-menu a:hover {
        color:#FF9900;
        text-decoration:underline;
}
.bottom_desc {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size:10px;
        color: #000000;
        text-decoration:none;
}
.bottom_desc a, .bottom_desc a:link, .bottom_desc a:visited {
        color: #000099;
	padding:0px 2px 2px 2px;
}
.bottom_desc a:hover {
        color:#FFFFFF;
        background-color:#000099;
	text-decoration:none;
}
.subtitle {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        color: #000099;
}
.subtitle a, .subtitle a:link, .subtitle a:visited {
        font-size: 15px;
        color: #000099;
        text-decoration:none;
}
.subtitle a:hover {font-size:15px; color:#ff9900; text-decoration: underline;}

.contentpaneopen ul { list-style-image:url(../images/li.gif); }

.odd {  color:black;font-family:Arial, Verdana, Helvetica;font-size:9pt;font-weight:normal; background-color: #DEE8F7; text-align: center;}
.merchants {
	width:95%;
	border:solid 1px #DEE8F7;
}
.merchants th {  color:black;font-family:Arial, Verdana, Helvetica;font-size:11pt;font-weight:bold; background-color: #DEE8F7; text-align: center;font-weight: bold;}
.even {  color:black;font-family:Arial, Verdana, Helvetica;font-size:9pt;font-weight:normal;background-color: transparent;text-align: center;}


.dimensionli ul { list-style-image:url(../images/li.gif); }
.dimensionli { color:black;font-family:Verdana, Helvetica;font-size:11px;font-weight:normal;}
.dimensionli a, .dimensionli a:link, .dimensionli a:visited {
        font-size: 11px;
        color: #000000;
        text-decoration:none;
}
.dimensionli a:hover {font-size:11px; color:#ff9900; text-decoration: underline;}

table.comparebasic {
        width:100%;
        background-color:#cccccc;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
}
table.comparebasic th {
   height: 20px;
   width: 14%;
   background: url("../images/features_bg.gif") no-repeat;
   text-align: center;
   font-size: 12px;
   color:#000099;
}
table.comparebasic tr {
   width: 100%;
   background-color:#ffffff;
   text-align: center;
   color:#333333;
}
table.comparebasic tr:hover {
   background-color:#eef1f6;
}
table.comparebasic td {
   width: 14%;
}

table.easyapp {
        width:100%;
        background-color:#cccccc;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
}
table.easyapp th {
   height: 20px;
   background: url("../images/features_bg.gif") no-repeat;
   text-align: center;
   font-size: 12px;
   color:#000099;
}
table.easyapp tr {
   width: 100%;
   background-color:#ffffff;
   color:#333333;
}
table.easyapp tr:hover {
   background-color:#eef1f6;
}
table.click_more {
  width:698px;
  border:1px solid #ff9900;
}
table.click_more td {
   background: url("/images/front_bg.jpg") repeat-x;
   font-size: 12px;
}

table.click_more_sm {
  width:200px;
  border:1px solid #ff9900;
}
table.click_more_sm td {
   background: url("/images/front_bg.jpg") repeat-x;
   font-size: 12px;
}
